@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;900&display=swap");

/* * {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 18px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

